
@font-face {
	font-family: "Hustlebright";
	src: url('HustleBright.ttf');
  }

  @font-face {
	font-family: "Aubrey";
	src: url('Aubrey.ttf');
  }

body{
	background-color: white;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: absolute;
	
}
@media only screen and (min-width: 999px){
#disclaimer{
	display: none;
}

#reio{
	display: block;
}

#asuka{
	display: block;
}

}
@media only screen and (max-width: 999px){
#disclaimer{
	display: flex;
}

#reio{
	display: none;
}

#asuka{
	display: none;
}

	
}

#disclaimer{

	padding: 50px;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: black;
	color: white;
	padding-right: 20px;

}
#root{
	position: fixed; 
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
}

#reio{
	position: absolute;
	top:200px;
	z-index: 1;
	width: 350px;
}

#asuka{
	position: absolute;
	top:200px;
	left:200px;
	z-index: 0;
	width: 450px;
	pointer-events: none;
}

#histoCan{
	width:255px;
	height: 300px;
	background-color: black;
	margin-left:150px;
}

#otherContainer{
	display: flex;
	flex-direction: column;
}

#sitecontainer{
	height: 92vh;
	width: 80vw;
	overflow: hidden;
	background-image: radial-gradient(
		rgb(255, 255, 255) 2px, 
		transparent 8%
	  );
	  background-position-x: 0%;
	  background-position-y: 0%;
	  background-size: 5vmin 5vmin;
	margin-top: 20px;
	margin-left: 100px;
	background-color: black;
	position: fixed;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

#toggleButton{
	margin-top: 8px;
	width: 75px;
	height: 828px;
	background-color: black;
	justify-content: center;
	display: flex;
	align-items: center;
	border: 2pt dotted grey;
	z-index: 5;
}

#toggleButton:hover{
	border: 2pt dotted white;
}

#mouseTing{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: black;
	position: fixed;
	border: 1pt white solid;
	z-index: 100;
	pointer-events: none;
	transition: opacity 500ms ease;
	display: grid;
	place-items: center;
}

#controlcontainer{
	height: fit-content;
	justify-content: space-between;
	z-index: 4;
	width: 225px;
	flex-direction: column;
}

#loader{
	background-color: black;
	position: absolute;
	z-index: 10000;
	animation: loading 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
	margin: 0;
	font-family: HustleBright, Times, Serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	overflow: hidden;
	color: white;
	visibility: hidden;
	pointer-events: none;

}

@keyframes loading{
	0%{ 
		visibility: visible;
		width: 0px;
		height: 0px;
		top: 0;
		left: 0;
	}
	25%{ 
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	}

	100%{ 
		width: 0px;
		height: 0px;
		top:100vh;
		left: 100vw;
	}

}

.arrow{
	border-bottom: white solid 2pt;
	border-left: white solid 2pt;
	transform: rotate(-135deg);
	width: 15px;
	height: 15px;
}

.arrowleft{
	border-bottom: white solid 2pt;
	border-left: white solid 2pt;
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
}
input[type="file"] {
    display: none;
}

#myCanvas{
	z-index: 20000;
	margin-left: 400px;
	position: fixed;

}

#loadLabel{
	border: 1px dotted grey;
    padding: 12px 24px;
    cursor: pointer;
	color: white;

}

#loadLabel:hover{
	border: 1px dotted white;
}

#fileBorder{
	background-color: white;
	padding: 5px;
	width: 190px;
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	border: 2pt gray solid;
	background-color: black;
}

#fileBorder:hover{
	border: 2pt white solid;
}

#globecontainer{
	padding-left: 10vw;
	z-index: 0;
	position: fixed;
	height: 1200px;
	width: 2000px;
	overflow: show;
	right: 0;
}

.name{
	font-family: Hustlebright, Times, serif;
	position: absolute;
	float: left;
	transform: rotate(90deg);
	font-size: 5em;
	margin-top: 20px;
	width: 100px;

}


.doubleButton{
	display: flex;
	flex-direction: row;
}


.halfbutton{
	width: 98px;
	max-height : 45px;
	background-color: black;
	color: white;
	border: 2pt grey solid;
	border-radius: 5px;
	padding: 8px 4px;
	margin: 4px 2px;
	
}

.hidden{
	display: none;
}

/*Buttons*/
.button1 {
	min-height:45px;
	border-radius: 5px;
	max-height : 45px;
	max-width: 420px;
	min-width: 420px;
	display: inline-block;
  	text-align: center;
  	font-size: 16px;
  	margin: 2px 2px;
}


.button:hover{
	border: 2pt solid white;
}
.halfbutton:hover{
	border: 2pt solid white;
}

.button {
  min-width:200px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 2pt grey solid;
  padding: 8px 32px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  display: flex;
  flex-direction: row;

}

input{
	margin-top: 15px;
	max-height: 10px;
	border-radius:25px;
	width: 40px;
}

.number1{
	float: right;
}

/*Textformat*/ 
h1 {
	margin-top: 15px;
	font-size: 15px;
	float: left;

	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}

p{
	color: black;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

/*tooltips*/
.tooltip1 .tooltiphelp {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip1 {
  font-weight: bolder;
  position: relative;
  border-bottom: 1px black;
}

.tooltip1:hover .tooltiphelp {
  visibility: visible;
}
